<a href="https://colab.research.google.com/github/hemsmalli5/Final-Project---Week1/blob/master/Project_Master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# ***Movie Data Analysis***

Through this project we plan to focus on following business predictions/questions:

Predict popular movie ratings and/or genres within certain release period and intricate genres relationships based on investment and release years.

Analysis specific to one genre, predict if highest budget action movies delivered better revenue?

In [1]:
# Import dependencies

import numpy as np
import pandas as pd
import sklearn as sl
import sklearn.preprocessing as preprocessing
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MultiLabelBinarizer
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 100)

# **1. Import Data**

In [2]:
# read the data file
movie_basics = pd.read_csv('Resources/title.basics.tsv', sep='\t')
movie_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
# read the data file
movie_ratings = pd.read_csv('Resources/title.ratings.tsv', sep='\t')
movie_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001          5.600      1648
1  tt0000002          6.100       198
2  tt0000003          6.500      1352
3  tt0000004          6.200       120
4  tt0000005          6.200      2139

In [4]:
# read the data file
movie_crew = pd.read_csv('Resources/title.crew.tsv', sep='\t')
movie_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [5]:
# read the data file
movie_akas = pd.read_csv('Resources/title.akas.tsv', sep='\t')
movie_akas.head(20)

/Users/SamWise/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0
10,tt0000002,3,Le clown et ses chiens,FR,\N,\N,\N,0
11,tt0000002,4,Der Clown und seine Hunde,DE,\N,\N,literal title,0
12,tt0000002,5,Clovnul si cainii sai,RO,\N,imdbDisplay,\N,0
13,tt0000002,6,Клоун и его собаки,RU,\N,imdbDisplay,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
15,tt0000002,8,道化師と犬,JP,ja,imdbDisplay,\N,0
16,tt0000003,1,Sarmanul Pierrot,RO,\N,imdbDisplay,\N,0
17,tt0000003,2,Szegény Pierrot,HU,\N,imdbDisplay,\N,0
18,tt0000003,3,哀れなピエロ,JP,ja,imdbDisplay,\N,0
19,tt0000003,4,Бідний П'єро,UA,\N,imdbDisplay,\N,0

In [6]:
# Will need to establish SQL Database connection and read in dataset from DB
# pd.read_sql_table('table_name', 'postgres:///db_name')

# **2. Merge Datasets**

In [7]:
# Merge three datasets into one dataframe
movie_data = pd.merge(movie_basics, movie_crew, on=["tconst", "tconst"])
movie_data = pd.merge(movie_data, movie_ratings, on=["tconst", "tconst"])
movie_data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.600,1648
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,6.100,198
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",nm0721526,\N,6.500,1352
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",nm0721526,\N,6.200,120
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,\N,6.200,2139

# **3. Explore data**

## Understand Numerical Features

In [8]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1079292 entries, 0 to 1079291
Data columns (total 13 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   tconst          1079292 non-null  object
 1   titleType       1079292 non-null  object
 2   primaryTitle    1079291 non-null  object
 3   originalTitle   1079291 non-null  object
 4   isAdult         1079292 non-null  int64
 5   startYear       1079292 non-null  object
 6   endYear         1079292 non-null  object
 7   runtimeMinutes  1079292 non-null  object
 8   genres          1079290 non-null  object
 9   directors       1079292 non-null  object
 10  writers         1079292 non-null  object
 11  averageRating   1079292 non-null  float64
 12  numVotes        1079292 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 115.3+ MB

# **3. Clean and Prep Data**

In [25]:
#Make copy of df for editing
movie_data_2 = movie_data.copy()

In [10]:
# Inspect title types
movie_data_2['titleType'].value_counts()

tvEpisode       491504
movie           253638
short           125694
tvSeries         71436
video            58124
tvMovie          41867
videoGame        11277
tvMiniSeries     10626
tvSpecial         9220
tvShort           5906
Name: titleType, dtype: int64

In [11]:
# Drop all titleTypes that are not movies from the df
movie_data_2 = (movie_data_2.loc[movie_data_2['titleType'] == 'movie'])

In [12]:
# Drop all adult films from the df
movie_data_2 = (movie_data_2.loc[movie_data_2['isAdult'] == 0])

In [35]:
# Inspect start years
movie_data_2['startYear'].value_counts()

2017    49948
2016    49557
2018    48732
2015    45894
2019    45792
2014    44215
2013    42712
2012    42125
2011    39276
2010    34659
2009    32706
2008    30694
2006    29627
2007    29163
2005    27184
2020    23941
2004    23738
2003    21237
2002    19941
2001    18176
2000    17230
1999    15855
1998    14551
1997    13582
1996    12400
1995    11563
1994    10811
1993    10275
1992     9309
1991     9116
1989     9094
1990     9086
1987     8620
1986     8445
1985     8358
1988     8089
1984     7499
1983     6809
1982     6444
1979     6310
1978     6126
1981     6034
1980     5952
1977     5852
1976     5707
1973     5684
1974     5525
1975     5445
1972     5428
1969     5421
1967     5330
1970     5314
1971     5302
1968     5172
1966     5154
1965     4972
1961     4408
1964     4260
1962     3980
1963     3969
2021        1
Name: startYear, dtype: int64

In [26]:
# Try to replace "\N" in column

#movie_data_2 = movie_data_2.replace(r'\\N',' ', regex=True) 
#movie_data_2['startYear'].replace(['/N'], '0')
movie_data_2 = movie_data_2.replace(r'\\N','1700', regex=True)

In [33]:
# Try to convert column

movie_data_2.startYear = movie_data_2.startYear.astype(int)
#movie_data_2['startYear'].astype(object)
#movie_data_2['startYear'].astype(str)
#movie_data_2['startYear'].convert_dtypes(infer_objects=False).dtypes

In [34]:
# Try to filter column

movie_data_2 = (movie_data_2.loc[movie_data_2['startYear'] > 1960])
#movie_data_2 = movie_data_2.drop(movie_data_2[movie_data_2.startYear > 1960])
#int(movie_data_2["startYear"])> 1960

In [32]:
movie_data_2[movie_data_2.startYear > 1960]

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
# try to filter NaNs in column

#blank = (movie_data_2.loc[movie_data_2['startYear'] =='\N'])
#movie_data_2 = movie_data_2.drop(movie_data_2[movie_data_2.startYear == "\N"])
#movie_data_2 = movie_data_2.drop(movie_data_2[movie_data_2.startYear == r"\N"])

In [18]:
# Try to alter \N in column

#movie_data_2['startYear'].str.replace('\', "").astype(int)

In [ ]:
# Drop unneeded columns
movie_data_2 = movie_data_2.drop(columns=['titleType', 'originalTitle', 'isAdult','endYear'])
movie_data_2.head()

## Encode Columns

In [ ]:
# Encoded the import_id column alphabetically
import_id = {
    "lionsgate": 1,
    "mgm": 2,
    "paramount":3,
    "other": 0,}

movie_data_2["import_id"] = movie_data_2["import_id"].apply(lambda x: import_id[x])

#Other option is to use OneHotEncoding (1 or 0 column encoding) to reduce numerical bias

In [ ]:
# Rename importr_id column
movie_data_2 = movie_data_2.rename(columns = {"import_id":"production_comp"})

In [ ]:
# Encoded the awards column
awards = {
    "BAFTA": 1,
    "Golden Globe": 2,
    "Oscar":3,
    "other award": 4,
    "no award": 0}

movie_data_2["awards"] = movie_data_2["awards"].apply(lambda x: awards[x])

In [ ]:
# Encoded the mpaa column
mpaa = {
    "G": 1,
    "PG": 2,
    "PG-13":3,
    "NC-17": 4,
    "R": 5,
    "NotRated": 0} 

movie_data_2["mpaa"] = movie_data_2["mpaa"].apply(lambda x: mpaa[x])

## Split Genres

Some videos belong to more than one genere. Splitting each genre into a new column will help the ML model.

In [ ]:
Split genres and directors and writers

In [ ]:
# Count unique values in genres column
movie_data_2['genres'].value_counts()

In [ ]:
# Convert genres column from string into a list
movie_data_2["genres"] = movie_data_2.genres.apply(lambda x: x.split(','))
movie_data_2.head()

In [ ]:
# Use MultiLabelBinarizer() to break up and encode genre list 
mlb = MultiLabelBinarizer()
movie_data_2 = movie_data_2.join(pd.DataFrame(mlb.fit_transform(movie_data_2.pop('genres')), columns=mlb.classes_, index=movie_data_2.index))
movie_data_2.head()

## Clean Up Categorical Features

In [ ]:
movie_data_2[['budget','boxoffice','metacritic_score','star_category\r','imdb_votes','imdb_rating']] = movie_data_2[['budget','boxoffice','metacritic_score','star_category\r','imdb_votes','imdb_rating']].replace(0, np.nan)
print(movie_data_2.info())

In [ ]:
print(movie_data_2.isnull().sum()/movie_data_2.shape[0])

Filling missing data with mean value.

In [ ]:
movie_data_2['boxoffice'] = movie_data_2['boxoffice'].fillna(movie_data_2['boxoffice'].mean())
movie_data_2['metacritic_score']=movie_data_2['metacritic_score'].fillna(movie_data_2['metacritic_score'].mean())
movie_data_2['star_category\r'] = movie_data_2['star_category\r'].fillna(movie_data_2['imdb_votes'].mean())
movie_data_2['imdb_votes'] = movie_data_2['imdb_votes'].fillna(movie_data_2['imdb_votes'].mean())
movie_data_2['imdb_rating']=movie_data_2['imdb_rating'].fillna(movie_data_2['imdb_rating'].mean())
movie_data_2['budget']= movie_data_2['budget'].fillna(movie_data_2['budget'].mean())
print(movie_data_2.info())

# **4. Pre-Processing for ML**
## Split & Standardize Data

In [ ]:
# Split preprocessed data into features and target arrays

In [ ]:
# Split the preprocessed data into a training and testing dataset

In [ ]:
# Create a StandardScaler instance

In [ ]:
# Fit the StandardScaler

In [ ]:
# Scale the data

## Feature scaling

The impact of differnet scalling methods on the model performance is small. In the following model training and selections, the standard scalling sc data is used.

There are two most common used scaling method: normalization and standardscaler. If there are no specific requirement for the range of output, we choose to use standardscaler.

In [ ]:
#Standard scaling
scale_lst= ['budget','boxoffice', 'imdb_votes','imdb_rating','duration_in_mins','metacritic_score','star_category\r']

new_prime_data_sc = movie_data_2.copy()

sc_scale = preprocessing.StandardScaler().fit(new_prime_data_sc[scale_lst])
new_prime_data_sc[scale_lst] = sc_scale.transform(new_prime_data_sc[scale_lst])
new_prime_data_sc.head()

In [ ]:
#MinMax scaling 
new_movie_data_mm = movie_data_2.copy()
mm_scale = preprocessing.MinMaxScaler().fit(new_movie_data_mm[scale_lst])
new_movie_data_mm[scale_lst] = mm_scale.transform(new_movie_data_mm[scale_lst])

#Robust scaling 
new_movie_data_rs = movie_data_2.copy()
rs_scale = preprocessing.RobustScaler().fit(new_movie_data_mm[scale_lst])
new_movie_data_rs[scale_lst] = rs_scale.transform(new_movie_data_rs[scale_lst])

# **5. Create Learning Model**

use multiple ML model (Lasso Linear regressino model and Random Forest Model)

In [ ]:
# Define the model
# ML sample on Lasso Linear regression 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt 

lr_train, lr_validate = train_test_split(train, test_size = 0.15, random_state = 0)

lr_train_x = lr_train.drop(['video_id', 'cvt_per_day'], axis =1)
lr_validate_x = lr_validate.drop(['video_id','cvt_per_day'], axis=1)
lr_train_y = lr_train['cvt_per_day']
lr_validate_y = lr_validate['cvt_per_day']

alphas = np.logspace(-0.3, 2.5, num=150)
#alphas = [0.00000001]
scores = np.empty_like(alphas)
opt_a = float('-inf')
max_score = float('-inf')
for i, a in enumerate(alphas):
    lasso = Lasso()
    lasso.set_params(alpha = a)
    lasso.fit(lr_train_x, lr_train_y)
    scores[i] = lasso.score(lr_validate_x, lr_validate_y)
    if scores[i]> max_score:
        max_score = scores[i]
        opt_a = a
        lasso_save = lasso
plt.plot(alphas, scores, color = 'b', linestyle= 'dashed', marker='o', markerfacecolor = 'blue', markersize = 6)
plt.xlabel('alpha')
plt.ylabel('score')
plt.grid(True)
plt.title('score vs. alpha')
plt.show()
modell_para = opt_a
print('The optimaized alpha and score of Lasso linear is: '), opt_a, max_score

#combine the validate data and training data, use the optimal alpha, re-train the model 
lasso_f = Lasso()
lasso_f.set_params(alpha = opt_a)
lasso_f.fit(model_train_x, model_train_y)

In [ ]:
# use Random Forest Model 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
rf=RandomForestRegressor(random_state=2,max_features='sqrt',n_jobs=-1)
param_grid={'n_estimators':[55,56,57,58,59,60,61,62,63,64,65],'max_depth':[15,16,17,18,19,20,21]}
clf=GridSearchCV(estimator=rf,param_grid=param_grid,cv=5,refit=True,n_jobs=-1,pre_dispatch='2*n_jobs')
clf.fit(model_train_x,model_train_y)

result= clf.cv_results_
print(result)
max_depth=[15,16,17,18,19,20,21]
n_estimators = [55,56,57,58,59,60,61,62,63,64,65]
scores = clf.cv_results_['mean_test_score'].reshape(len(max_depth), len(n_estimators))
plt.figure(1)
plt.subplot(1,1,1)
for i,j in enumerate(max_depth):
    plt.plot(n_estimators, scores[i], '-o', label= 'max_depths is:'+str(j))
plt.legend(bbox_to_anchor = (1.05, 1), loc='upper left', borderaxespad= 0.)
plt.xlabel('mean_test_score')
plt.ylabel('n_estimators')
plt.show()
print('the best parameter for max_depth is: '+str(clf.best_params_['max_depth']))
print('the best parameter for n_estimators is :' +str(clf.best_params_['n_estimators']))

In [ ]:
# Model Evaluation and Comparison 
lst_score = [lasso_score, ridge_score, rf_score]
model_lst = ['Lasso_linear',  'Random forest']

plt.figure(1)
plt.plot(model_lst, lst_score, 'ro')
plt.legend(['r-squre / score'])
plt.xlabel('model names',fontsize =16)
plt.ylabel('score / r square', fontsize =16)
plt.grid(True)
plt.show()

In [ ]:
# Try use another model,

In [ ]:
# Add hidden layers

In [ ]:
# Add the output layer that uses a probability activation function

In [ ]:
# Check the structure of the Sequential model

In [ ]:
# Compile the Sequential model together and customize metrics

# **6. Train and Test Neural Network**

In [ ]:
# Fit / train the model to the training data

In [ ]:
# Evaluate model performance using the test data

# **7. Precitions / Conclusion**

# **8. Summary**