<a href="https://colab.research.google.com/github/hemsmalli5/Final-Project---Week1/blob/master/Project_Master1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Movie Data Analysis***

In [46]:
# Import dependencies
# from google.colab import files
import numpy as np
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.model_selection import train_test_split
# import tensorflow as tf

# The below ETL process was used to find the tcosnt filter list that is used to clean the 4 individual data files before they are brought into the SQL DB.

## Import Data Files

In [ ]:
# Upload file
# uploaded = files.upload()

Saving title.akas.tsv to title.akas.tsv

In [44]:
# read the data file
movie_akas = pd.read_csv('Raw_files/title.akas.tsv', sep='\t')
movie_akas

C:\ProgramData\Anaconda3_\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
17173299,tt5679032,2,Episodio #27.60,ES,es,\N,\N,0
17173300,tt5679032,3,Episodio #27.60,IT,it,\N,\N,0
17173301,tt5679032,4,Folge #27.60,DE,de,\N,\N,0
17173302,tt5679032,5,Épisode #27.60,FR,fr,\N,\N,0
17173303,tt5679032,6,Episódio,NaN,NaN,NaN,NaN,NaN

In [5]:
# read the data file
movie_basics = pd.read_csv('Raw_files/title.basics.tsv', sep='\t')
movie_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
7221672,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
7221673,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
7221674,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
7221675,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
7221676,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [6]:
# read the data file
movie_ratings = pd.read_csv('Raw_files/title.ratings.tsv', sep='\t')
movie_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.6      1648
1        tt0000002            6.1       198
2        tt0000003            6.5      1352
3        tt0000004            6.2       120
4        tt0000005            6.2      2139
...            ...            ...       ...
1079287  tt9916580            7.2         5
1079288  tt9916690            6.6         5
1079289  tt9916720            6.0        61
1079290  tt9916766            6.9        14
1079291  tt9916778            7.3        24

[1079292 rows x 3 columns]

In [7]:
# read the data file
movie_crew = pd.read_csv('Raw_files/title.crew.tsv', sep='\t')
movie_crew

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
7221672  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7221673  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7221674  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
7221675  tt9916856           nm10538645                      nm6951431
7221676  tt9916880            nm0996406            nm1482639,nm2586970

[7221677 rows x 3 columns]

## Clean Akas File For Merging

In [8]:
#Make copy of df for editing
movie_akas_2 = movie_akas.copy()

In [9]:
# Drop all rows that do not have region as US
movie_akas_2 = (movie_akas_2.loc[movie_akas_2['region'] == 'US'])

# Drop all rows where types is alternative
movie_akas_2 = movie_akas_2[movie_akas_2.types != 'alternative']

# Drop duplicate rows if there is more then one row per movie (keep first row)
movie_akas_2 = movie_akas_2.drop_duplicates(subset=['tconst'], keep='first')
movie_akas_2

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
...,...,...,...,...,...,...,...,...
17173152,tt5678950,1,Not Alone: The Life Above,US,\N,\N,\N,0
17173265,tt5678986,1,Secrets and Sins,US,\N,\N,\N,0
17173266,tt5678990,1,A Child's Smile,US,\N,\N,\N,0
17173267,tt5678994,1,Watch What You Ask For,US,\N,\N,\N,0
17173297,tt5679026,1,Gangstas on the Down-Lo,US,\N,\N,\N,0

## Merge Datasets

In [10]:
# Merge four datasets into one dataframe
movie_data = pd.merge(movie_akas_2, movie_basics, on=["tconst", "tconst"])
movie_data = pd.merge(movie_data, movie_crew, on=["tconst", "tconst"])
movie_data = pd.merge(movie_data, movie_ratings, on=["tconst", "tconst"])

movie_data

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,tt0000001,6,Carmencita,US,\N,\N,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.6,1648
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,6.1,198
2,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,\N,6.2,2139
3,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short,nm0005690,\N,5.3,115
4,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport","nm0374658,nm0005690",\N,5.5,656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327070,tt5678558,1,Sign,US,\N,imdbDisplay,\N,0,short,Sign,Znak,0,2017,\N,25,"Comedy,Drama,Romance",nm7247526,"nm9325525,nm7247526",6.6,14
327071,tt5678628,1,Egotastic FunTime!,US,\N,\N,\N,0,tvSeries,Egotastic FunTime!,Egotastic FunTime!,0,2016,\N,\N,Comedy,nm3412536,nm3412536,8.1,14
327072,tt5678678,1,I'll Be Alone for Christmas,US,\N,\N,\N,0,short,I'll Be Alone for Christmas,I'll Be Alone for Christmas,0,2015,\N,7,"Horror,Short",nm2686595,nm5037245,4.6,9
327073,tt5678732,3,Breaking Point,US,\N,\N,\N,0,movie,Breaking Point,Breaking Point,0,2017,\N,82,"Drama,Thriller",nm6126841,nm6126841,2.7,121
327074,tt5678738,1,Hour Three: Somebody's Son,US,\N,\N,\N,0,tvEpisode,Hour Three: Somebody's Son,Hour Three: Somebody's Son,0,2017,\N,44,"Crime,Drama",nm0376006,"nm0697656,nm0090066,nm1241675",7.0,89

## Clean Merged Data File

In [11]:
# Understand Numerical Features
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327075 entries, 0 to 327074
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           327075 non-null  object
 1   ordering         327075 non-null  int64
 2   title            327075 non-null  object
 3   region           327075 non-null  object
 4   language         327075 non-null  object
 5   types            327075 non-null  object
 6   attributes       327075 non-null  object
 7   isOriginalTitle  327075 non-null  object
 8   titleType        327075 non-null  object
 9   primaryTitle     327075 non-null  object
 10  originalTitle    327075 non-null  object
 11  isAdult          327075 non-null  int64
 12  startYear        327075 non-null  object
 13  endYear          327075 non-null  object
 14  runtimeMinutes   327075 non-null  object
 15  genres           327075 non-null  object
 16  directors        327075 non-null  object
 17  writers          327075 non-null  object
 18  averageRating    327075 non-null  float64
 19  numVotes         327075 non-null  int64
dtypes: float64(1), int64(3), object(16)
memory usage: 52.4+ MB

In [12]:
#Make copy of df for editing
movie_data_2 = movie_data.copy()

In [13]:
# Inspect title types
movie_data_2['titleType'].value_counts()

movie           96914
tvEpisode       89782
short           52993
video           32609
tvSeries        23392
tvMovie         14841
tvSpecial        5714
videoGame        5645
tvShort          2659
tvMiniSeries     2526
Name: titleType, dtype: int64

In [14]:
# Drop all rows with titleTypes that are not movies from the df
movie_data_2 = (movie_data_2.loc[movie_data_2['titleType'] == 'movie'])

In [15]:
# Drop all adult film rows from the df
movie_data_2 = (movie_data_2.loc[movie_data_2['isAdult'] == 0])

In [16]:
# Inspect start years
movie_data_2['startYear'].value_counts()

2014    3562
2013    3397
2015    3395
2012    3286
2011    3067
        ...
1901       2
1897       1
2021       1
1894       1
1904       1
Name: startYear, Length: 126, dtype: int64

In [17]:
# Replace "\N" with date
movie_data_2 = movie_data_2.replace(r'\\N','1700', regex=True)

# Convert columns to int
movie_data_2.startYear = movie_data_2.startYear.astype(int)

# Filter year column
movie_data_2 = (movie_data_2.loc[movie_data_2['startYear'] > 1950])

# Inspect start years
movie_data_2['startYear'].value_counts()

2014    3562
2013    3397
2015    3395
2012    3286
2011    3067
        ...
1956     462
1954     456
1960     453
1955     447
2021       1
Name: startYear, Length: 71, dtype: int64

In [18]:
# Replace 1700 with Nan
movie_data_2 = movie_data_2.replace(r'1700','NaN', regex=True)

In [19]:
# Drop all rows wih a runtime of NaN
movie_data_2 = (movie_data_2.loc[movie_data_2['runtimeMinutes'] != "NaN"])

# Convert column to int
movie_data_2.runtimeMinutes = movie_data_2.runtimeMinutes.astype(int)

In [20]:
# Drop all rows wih a director of NaN
movie_data_2 = (movie_data_2.loc[movie_data_2['directors'] != "NaN"])

In [42]:
movie_data_2.head()

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
11757,tt0031603,5,Made in Germany - Die dramatische Geschichte d...,US,NaN,NaN,NaN,0,movie,Made in Germany - Die dramatische Geschichte d...,Made in Germany,0,1957,NaN,101,"Biography,Drama",nm0772191,"nm0530752,nm0726114",6.5,12
14126,tt0035423,33,Kate and Leopold,US,NaN,NaN,alternative spelling,0,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",nm0003506,"nm0737216,nm0003506",6.4,78045
14424,tt0035933,1,Elephant Fury,US,NaN,NaN,NaN,0,movie,Elephant Fury,Gesprengte Gitter,0,1953,NaN,100,"Drama,War",nm0682176,"nm0084430,nm0470743,nm0515392,nm0682176",4.2,6
14756,tt0036493,12,Black Devils of Kali,US,NaN,NaN,second part title,0,movie,Mystery of the Black Jungle,I misteri della giungla nera,0,1954,NaN,80,"Action,Adventure,Mystery","nm0614634,nm0130397","nm0758215,nm0130397,nm0207401",5.4,34
14818,tt0036606,12,"Another Time, Another Place",US,NaN,imdbDisplay,NaN,0,movie,"Another Time, Another Place","Another Time, Another Place",0,1983,NaN,118,"Drama,War",nm0705535,"nm0450407,nm0485392,nm0705535",6.5,256

In [ ]:
# Check length of the Data
movie_akas_us.count()

In [21]:
# Save tconst column to list to be used for filtering on the raw data files
filter_list = movie_data_2['tconst'].tolist()

## Filter Individual Tables & Export

In [22]:
# Filter individual data files
movie_akas_clean = movie_akas_2[movie_akas_2['tconst'].isin(filter_list)]
movie_basics_clean = movie_basics[movie_basics['tconst'].isin(filter_list)]
movie_ratings_clean = movie_ratings[movie_ratings['tconst'].isin(filter_list)]
movie_crew_clean = movie_crew[movie_crew['tconst'].isin(filter_list)]

In [23]:
# Drop unneeded columns from individual data files
movie_akas_clean = movie_akas_clean.drop(columns= 'ordering')
movie_basics_clean = movie_basics_clean.drop(columns= ['isAdult', "endYear"])

In [33]:
movie_akas_clean.count()

tconst             73849
title              73849
region             73849
language           73849
types              73849
attributes         73849
isOriginalTitle    73849
dtype: int64

In [41]:
movie_akas_clean.head()

,tconst,title,region,language,types,attributes,isOriginalTitle
142314,tt0031603,Made in Germany - Die dramatische Geschichte d...,US,\N,\N,\N,0
168399,tt0035423,Kate and Leopold,US,\N,\N,alternative spelling,0
171766,tt0035933,Elephant Fury,US,\N,\N,\N,0
175525,tt0036493,Black Devils of Kali,US,\N,\N,second part title,0
176331,tt0036606,"Another Time, Another Place",US,\N,imdbDisplay,\N,0

In [34]:
movie_basics_clean.count()

tconst            73849
titleType         73849
primaryTitle      73849
originalTitle     73849
startYear         73849
runtimeMinutes    73849
genres            73849
dtype: int64

In [43]:
movie_basics_clean.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
31054,tt0031603,movie,Made in Germany - Die dramatische Geschichte d...,Made in Germany,1957,101,"Biography,Drama"
34811,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance"
35312,tt0035933,movie,Elephant Fury,Gesprengte Gitter,1953,100,"Drama,War"
35864,tt0036493,movie,Mystery of the Black Jungle,I misteri della giungla nera,1954,80,"Action,Adventure,Mystery"
35975,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",1983,118,"Drama,War"

In [35]:
movie_ratings_clean.count()

tconst           73849
averageRating    73849
numVotes         73849
dtype: int64

In [36]:
movie_crew_clean.count()

tconst       73849
directors    73849
writers      73849
dtype: int64

In [24]:
# Save filltered dfs to csv
movie_akas_clean.to_csv('Csv_Output/movie_akas_us.csv', index = True)
movie_basics_clean.to_csv('Csv_Output/movie_basics.csv', index = True)
movie_ratings_clean.to_csv('Csv_Output/movie_ratings.csv', index = True)
movie_crew_clean.to_csv('Csv_Output/movie_crew.csv', index = True)

#### The CSV files will be loaded into the DB and merged. The single merged DB Table will be  connected to for all furture steps

# 1. Import SQL Table

In [ ]:
# Establish Database connection and read in dataset from DB
# pd.read_sql_table('table_name', 'postgres:///db_name')

In [29]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from config import db_password

In [30]:
# "postgres://[user]:[password]@[location]:[port]/[database]"
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_analysis_db"

In [31]:
# Create engine
engine = create_engine(db_string)

In [40]:
# Write movie_akas_clean to movie_akas_us table in SQL
movie_akas_clean.to_sql(name='movie_akas_us', con=engine)

In [37]:
# Write movie_basics_clean to movie_basics table in SQL
movie_basics_clean.to_sql(name='movie_basics', con=engine)

In [38]:
# Write movie_ratings to movie_ratings table in SQL
movie_ratings_clean.to_sql(name='movie_ratings', con=engine)

In [39]:
# Write movie_crew to movie_crew table in SQL
movie_crew_clean.to_sql(name='movie_crew', con=engine)

In [ ]:
# join the tables in pgAdmin

# SELECT
#     ma.tconst,
#     ma.title,
#     ma.region,
#     ma.language,
#     ma.types,
#     ma.attributes,
#     mb."movieTitleOriginal",
#     mb."movieTitleType",
#     mb."primaryMovieTitle",
#     mb."startYear",
#     mb."runtimeMinutes",
#     mb."genres",
#     mc."directors",
#     mr."averageRating",
#     mr."numVotes"
# into movie_data_sql
# FROM
#     movie_akas_us as ma
# 	LEFT JOIN movie_basics as mb
# 		ON mb.tconst = ma.tconst
#     LEFT JOIN movie_crew as mc
# 		ON mc.tconst = mb.tconst
#     LEFT JOIN movie_ratings as mr
# 		ON mr.tconst = mc.tconst
# ORDER BY
#     tconst;

In [ ]:
# movie_data_sql generated

# 2. Clean Data File

In [ ]:
# Drop unneeded columns
movie_data_2 = movie_data_2.drop(columns=['title', 'region', 'types', 'tconst', 'titleType', 'originalTitle',
                                          'writers', 'language', 'attributes', 'isOriginalTitle'])
movie_data_2

,ordering,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,averageRating,numVotes
11757,5,Made in Germany - Die dramatische Geschichte d...,0,1957,NaN,101,"Biography,Drama",nm0772191,6.5,12
14126,33,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",nm0003506,6.4,78045
14424,1,Elephant Fury,0,1953,NaN,100,"Drama,War",nm0682176,4.2,6
14756,12,Mystery of the Black Jungle,0,1954,NaN,80,"Action,Adventure,Mystery","nm0614634,nm0130397",5.4,34
14818,12,"Another Time, Another Place",0,1983,NaN,118,"Drama,War",nm0705535,6.5,256
...,...,...,...,...,...,...,...,...,...,...
327055,1,The Long Way Home: Making the Martian,0,2016,NaN,80,Documentary,nm1361273,7.5,13
327056,1,About Paul,0,2016,NaN,63,"Biography,Documentary",nm2648766,6.1,11
327060,1,Regionrat,0,2019,NaN,99,"Comedy,Drama",nm0721494,6.3,63
327069,2,"Jerico, the Infinite Flight of Days",0,2016,NaN,77,Documentary,nm7058489,7.9,123
327073,3,Breaking Point,0,2017,NaN,82,"Drama,Thriller",nm6126841,2.7,121

In [ ]:
# Rename columns
movie_data_2 = movie_data_2.rename(columns = {"primaryTitle":"Title", "startYear":"Year",
                                              "runtimeMinutes":"Runtime(Min)", "genres":"Genres",
                                              "directors":"Directors", "averageRating":"AverageRating",
                                              "numVotes":"NumVotes"})
movie_data_2

,ordering,Title,isAdult,Year,endYear,Runtime(Min),Genres,Directors,AverageRating,NumVotes
11757,5,Made in Germany - Die dramatische Geschichte d...,0,1957,NaN,101,"Biography,Drama",nm0772191,6.5,12
14126,33,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",nm0003506,6.4,78045
14424,1,Elephant Fury,0,1953,NaN,100,"Drama,War",nm0682176,4.2,6
14756,12,Mystery of the Black Jungle,0,1954,NaN,80,"Action,Adventure,Mystery","nm0614634,nm0130397",5.4,34
14818,12,"Another Time, Another Place",0,1983,NaN,118,"Drama,War",nm0705535,6.5,256
...,...,...,...,...,...,...,...,...,...,...
327055,1,The Long Way Home: Making the Martian,0,2016,NaN,80,Documentary,nm1361273,7.5,13
327056,1,About Paul,0,2016,NaN,63,"Biography,Documentary",nm2648766,6.1,11
327060,1,Regionrat,0,2019,NaN,99,"Comedy,Drama",nm0721494,6.3,63
327069,2,"Jerico, the Infinite Flight of Days",0,2016,NaN,77,Documentary,nm7058489,7.9,123
327073,3,Breaking Point,0,2017,NaN,82,"Drama,Thriller",nm6126841,2.7,121

In [ ]:
# Make Movie name the Index
movie_data_2 = movie_data_2.set_index('Title')

# 3. Split / Encode Genres & Director Columns

In [ ]:
# Convert genres column from string into a list
movie_data_2["Genres"] = movie_data_2.Genres.apply(lambda x: x.split(','))
movie_data_2

,ordering,isAdult,Year,endYear,Runtime(Min),Genres,Directors,AverageRating,NumVotes
Title,,,,,,,,,
Made in Germany - Die dramatische Geschichte des Hauses Zeiss,5,0,1957,NaN,101,"[Biography, Drama]",nm0772191,6.5,12
Kate & Leopold,33,0,2001,NaN,118,"[Comedy, Fantasy, Romance]",nm0003506,6.4,78045
Elephant Fury,1,0,1953,NaN,100,"[Drama, War]",nm0682176,4.2,6
Mystery of the Black Jungle,12,0,1954,NaN,80,"[Action, Adventure, Mystery]","nm0614634,nm0130397",5.4,34
"Another Time, Another Place",12,0,1983,NaN,118,"[Drama, War]",nm0705535,6.5,256
...,...,...,...,...,...,...,...,...,...
The Long Way Home: Making the Martian,1,0,2016,NaN,80,[Documentary],nm1361273,7.5,13
About Paul,1,0,2016,NaN,63,"[Biography, Documentary]",nm2648766,6.1,11
Regionrat,1,0,2019,NaN,99,"[Comedy, Drama]",nm0721494,6.3,63
"Jerico, the Infinite Flight of Days",2,0,2016,NaN,77,[Documentary],nm7058489,7.9,123
Breaking Point,3,0,2017,NaN,82,"[Drama, Thriller]",nm6126841,2.7,121

In [ ]:
# Use MultiLabelBinarizer() to break up and encode genre list 
mlb = MultiLabelBinarizer()
movie_data_2 = movie_data_2.join(pd.DataFrame(mlb.fit_transform(movie_data_2.pop('Genres')), columns=mlb.classes_, index=movie_data_2.index))
movie_data_2

,ordering,isAdult,Year,endYear,Runtime(Min),Directors,AverageRating,NumVotes,Action,Adult,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
Title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,4,0,2010,NaN,83,nm0380961,6.8,210,0,0,...,0,0,0,0,0,0,0,0,0,0
#1 Serial Killer,3,0,2013,NaN,87,nm0950956,5.6,42,0,0,...,0,0,0,0,0,0,0,0,0,0
#5,1,0,2013,NaN,68,nm5361948,6.6,7,0,0,...,0,0,0,0,0,0,0,0,0,0
#50Fathers,1,0,2015,NaN,132,nm3614760,4.6,5,0,0,...,0,0,0,0,0,0,0,0,0,0
#Alive,9,0,2020,NaN,98,nm4252203,6.2,15799,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Últimos días de la víctima,1,0,1982,NaN,90,nm0034899,7.3,386,0,0,...,0,0,0,0,0,0,0,0,0,0
Über Wasser: Menschen und gelbe Kanister,2,0,2007,NaN,120,nm0561059,7.2,45,0,0,...,0,0,0,0,0,0,0,0,0,0
Über uns das All,1,0,2011,NaN,88,nm1099979,6.7,666,0,0,...,0,0,0,0,0,0,0,0,0,0
Übermut im Salzkammergut,1,0,1963,NaN,99,nm0082420,5.7,38,0,0,...,0,0,0,0,0,0,0,0,0,0
Þrestir,12,0,2015,NaN,99,nm1242172,6.8,1434,0,0,...,0,0,0,0,0,0,0,0,0,0

### We can test the ML model with both dropping the Directors column and encoding it to see the difference in accuracy

In [ ]:
# Inspect directors
movie_data_2['Directors'].value_counts()

nm0001238    85
nm0676248    70
nm0213983    60
nm0000339    59
nm0128715    55
             ..
nm0766112     1
nm0051894     1
nm0112492     1
nm1965648     1
nm2755382     1
Name: Directors, Length: 40511, dtype: int64

In [ ]:
# Convert Directors column from string into a list
movie_data_2["Directors"] = movie_data_2.Directors.apply(lambda x: x.split(','))

## **Please Note: 

### Encoding the Directors column will create over 43,600 new columns, which takes an extremely long time to complete. This process below is currently commented out.

In [ ]:
# Use MultiLabelBinarizer() to break up and encode Directors list 
#movie_data_2 = movie_data_2.join(pd.DataFrame(mlb.fit_transform(movie_data_2.pop('Directors')), columns=mlb.classes_, index=movie_data_2.index))
#movie_data_2

# **4. Pre-Processing for ML**
## Split & Standardize Data

## **Please Note: 

### - If the Directors column is encoded (43,600 columns) it will take an extremely long time to split
### - If the Director column is not encoded, it will need to be dropped as you cannot standardize non-numerical values

In [ ]:
# Drop Directors column
movie_data_2 = movie_data_2.drop(columns= 'Directors')
movie_data_2

,ordering,isAdult,Year,endYear,Runtime(Min),AverageRating,NumVotes,Action,Adult,Adventure,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
Title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,4,0,2010,NaN,83,6.8,210,0,0,0,...,0,0,0,0,0,0,0,0,0,0
#1 Serial Killer,3,0,2013,NaN,87,5.6,42,0,0,0,...,0,0,0,0,0,0,0,0,0,0
#5,1,0,2013,NaN,68,6.6,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
#50Fathers,1,0,2015,NaN,132,4.6,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
#Alive,9,0,2020,NaN,98,6.2,15799,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Últimos días de la víctima,1,0,1982,NaN,90,7.3,386,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Über Wasser: Menschen und gelbe Kanister,2,0,2007,NaN,120,7.2,45,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Über uns das All,1,0,2011,NaN,88,6.7,666,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Übermut im Salzkammergut,1,0,1963,NaN,99,5.7,38,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Þrestir,12,0,2015,NaN,99,6.8,1434,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Split preprocessed data into features and target arrays
y = movie_data_2["AverageRating"].values
X = movie_data_2.drop(["AverageRating"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/Users/SamWise/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/extmath.py:765: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/Users/SamWise/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/extmath.py:706: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

# **5. Create Learning Model**

In [ ]:
# Define the model
number_input_features = len(X_train[0])
nn_model = tf.keras.models.Sequential()

# Add layer to the Sequential model using Keras’ Dense class
nn_model.add(tf.keras.layers.Dense(5, input_dim=number_input_features, activation="relu"))

# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 5)                 180
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 6
=================================================================
Total params: 186
Trainable params: 186
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# **6. Train and Test Neural Network**

In [ ]:
# Fit / train the keras model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=5)

Train on 67002 samples
Epoch 1/5
67002/67002 [==============================] - 3s 48us/sample - loss: nan - accuracy: 0.0000e+00
Epoch 2/5
67002/67002 [==============================] - 3s 38us/sample - loss: nan - accuracy: 0.0000e+00
Epoch 3/5
67002/67002 [==============================] - 3s 38us/sample - loss: nan - accuracy: 0.0000e+00
Epoch 4/5
67002/67002 [==============================] - 3s 39us/sample - loss: nan - accuracy: 0.0000e+00
Epoch 5/5
67002/67002 [==============================] - 3s 39us/sample - loss: nan - accuracy: 0.0000e+00

In [ ]:
# Evaluate model performance using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

22334/1 - 1s - loss: nan - accuracy: 0.0000e+00
Loss: nan, Accuracy: 0.0

# **7. Precitions / Conclusion**

# **8. Summary**