<a href="https://colab.research.google.com/github/hemsmalli5/Final-Project---Week1/blob/master/Project_Master1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Movie Data Analysis***

In [1]:
# Import dependencies
import numpy as np
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, StandardScaler
from sklearn.model_selection import train_test_split
# import tensorflow as tf

In [2]:
# !pip install s3fs

# 1. ETL Process - Cleaing Data

# The below ETL process was used to find the tcosnt filter list that is used to clean the 4 individual data files before they are brought into the SQL DB.

## 1.1 Import Data Files

In [3]:
# read the data file
movie_akas = pd.read_csv('s3://team5-finalproject-resources/title.akas.tsv', sep='\t')
movie_akas.head(5)

C:\ProgramData\Anaconda3_\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [4]:
# read the data file
movie_basics = pd.read_csv('s3://team5-finalproject-resources/title.basics.tsv', sep='\t')
movie_basics.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
# read the data file
movie_ratings = pd.read_csv('s3://team5-finalproject-resources/title.ratings.tsv', sep='\t')
movie_ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.6      1648
1  tt0000002            6.1       198
2  tt0000003            6.5      1352
3  tt0000004            6.2       120
4  tt0000005            6.2      2139

In [6]:
# read the data file
movie_crew = pd.read_csv('s3://team5-finalproject-resources/title.crew.tsv', sep='\t')
movie_crew.head(5)

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

## 1.2 Clean Akas File For Merging

In [7]:
#Make copy of df for editing
movie_akas_2 = movie_akas.copy()

In [8]:
# Drop all rows that do not have region as US
movie_akas_2 = (movie_akas_2.loc[movie_akas_2['region'] == 'US'])

# Drop all rows where types is alternative
movie_akas_2 = movie_akas_2[movie_akas_2.types != 'alternative']

# Drop duplicate rows if there is more then one row per movie (keep first row)
movie_akas_2 = movie_akas_2.drop_duplicates(subset=['tconst'], keep='first')
movie_akas_2

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
14,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
40,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0
46,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0
50,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0
...,...,...,...,...,...,...,...,...
17173152,tt5678950,1,Not Alone: The Life Above,US,\N,\N,\N,0
17173265,tt5678986,1,Secrets and Sins,US,\N,\N,\N,0
17173266,tt5678990,1,A Child's Smile,US,\N,\N,\N,0
17173267,tt5678994,1,Watch What You Ask For,US,\N,\N,\N,0
17173297,tt5679026,1,Gangstas on the Down-Lo,US,\N,\N,\N,0

## 1.3 Merge Datasets

In [9]:
# Merge four datasets into one dataframe
movie_data = pd.merge(movie_akas_2, movie_basics, on=["tconst", "tconst"])
movie_data = pd.merge(movie_data, movie_crew, on=["tconst", "tconst"])
movie_data = pd.merge(movie_data, movie_ratings, on=["tconst", "tconst"])

movie_data

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,tt0000001,6,Carmencita,US,\N,\N,\N,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,5.6,1648
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,6.1,198
2,tt0000005,6,Blacksmithing,US,\N,\N,informal alternative title,0,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",nm0005690,\N,6.2,2139
3,tt0000006,3,Chinese Opium Den,US,\N,\N,\N,0,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short,nm0005690,\N,5.3,115
4,tt0000007,1,Corbett and Courtney Before the Kinetograph,US,\N,\N,\N,0,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport","nm0374658,nm0005690",\N,5.5,656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327070,tt5678558,1,Sign,US,\N,imdbDisplay,\N,0,short,Sign,Znak,0,2017,\N,25,"Comedy,Drama,Romance",nm7247526,"nm9325525,nm7247526",6.6,14
327071,tt5678628,1,Egotastic FunTime!,US,\N,\N,\N,0,tvSeries,Egotastic FunTime!,Egotastic FunTime!,0,2016,\N,\N,Comedy,nm3412536,nm3412536,8.1,14
327072,tt5678678,1,I'll Be Alone for Christmas,US,\N,\N,\N,0,short,I'll Be Alone for Christmas,I'll Be Alone for Christmas,0,2015,\N,7,"Horror,Short",nm2686595,nm5037245,4.6,9
327073,tt5678732,3,Breaking Point,US,\N,\N,\N,0,movie,Breaking Point,Breaking Point,0,2017,\N,82,"Drama,Thriller",nm6126841,nm6126841,2.7,121
327074,tt5678738,1,Hour Three: Somebody's Son,US,\N,\N,\N,0,tvEpisode,Hour Three: Somebody's Son,Hour Three: Somebody's Son,0,2017,\N,44,"Crime,Drama",nm0376006,"nm0697656,nm0090066,nm1241675",7.0,89

## 1.4 Clean Merged Data File

In [10]:
# Understand Numerical Features
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327075 entries, 0 to 327074
Data columns (total 20 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           327075 non-null  object
 1   ordering         327075 non-null  int64
 2   title            327075 non-null  object
 3   region           327075 non-null  object
 4   language         327075 non-null  object
 5   types            327075 non-null  object
 6   attributes       327075 non-null  object
 7   isOriginalTitle  327075 non-null  object
 8   titleType        327075 non-null  object
 9   primaryTitle     327075 non-null  object
 10  originalTitle    327075 non-null  object
 11  isAdult          327075 non-null  int64
 12  startYear        327075 non-null  object
 13  endYear          327075 non-null  object
 14  runtimeMinutes   327075 non-null  object
 15  genres           327075 non-null  object
 16  directors        327075 non-null  object
 17  writers          327075 non-null  object
 18  averageRating    327075 non-null  float64
 19  numVotes         327075 non-null  int64
dtypes: float64(1), int64(3), object(16)
memory usage: 52.4+ MB

In [11]:
#Make copy of df for editing
movie_data_2 = movie_data.copy()

In [12]:
# Inspect title types
movie_data_2['titleType'].value_counts()

movie           96914
tvEpisode       89782
short           52993
video           32609
tvSeries        23392
tvMovie         14841
tvSpecial        5714
videoGame        5645
tvShort          2659
tvMiniSeries     2526
Name: titleType, dtype: int64

In [13]:
# Drop all rows with titleTypes that are not movies from the df
movie_data_2 = (movie_data_2.loc[movie_data_2['titleType'] == 'movie'])

In [14]:
# Drop all adult film rows from the df
movie_data_2 = (movie_data_2.loc[movie_data_2['isAdult'] == 0])

In [15]:
# Inspect start years
movie_data_2['startYear'].value_counts()

2014    3562
2013    3397
2015    3395
2012    3286
2011    3067
        ...
1903       2
1904       1
1897       1
1894       1
2021       1
Name: startYear, Length: 126, dtype: int64

In [16]:
# Replace "\N" with date
movie_data_2 = movie_data_2.replace(r'\\N','1700', regex=True)

# Convert columns to int
movie_data_2.startYear = movie_data_2.startYear.astype(int)

# Filter year column
movie_data_2 = (movie_data_2.loc[movie_data_2['startYear'] > 1950])

# Inspect start years
movie_data_2['startYear'].value_counts()

2014    3562
2013    3397
2015    3395
2012    3286
2011    3067
        ...
1956     462
1954     456
1960     453
1955     447
2021       1
Name: startYear, Length: 71, dtype: int64

In [17]:
# Replace 1700 with Nan
movie_data_2 = movie_data_2.replace(r'1700','NaN', regex=True)

In [18]:
# Drop all rows wih a runtime of NaN
movie_data_2 = (movie_data_2.loc[movie_data_2['runtimeMinutes'] != "NaN"])

# Convert column to int
movie_data_2.runtimeMinutes = movie_data_2.runtimeMinutes.astype(int)

In [19]:
# Drop all rows wih a director of NaN
movie_data_2 = (movie_data_2.loc[movie_data_2['directors'] != "NaN"])

In [20]:
# Drop movies with no genres
movie_data_2 = (movie_data_2.loc[movie_data_2['genres'] != "NaN"])

In [21]:
#Drop rows from df (individual movies that do not apply)
list = [265876,87013,91378,113766,211639,250483,267939,307252,307564,283499,82661]
movie_data_2 = movie_data_2.drop(list)

In [22]:
# Save tconst column to list to be used for filtering on the raw data files
filter_list = movie_data_2['tconst'].tolist()

## 1.5 Filter Individual Tables & Export

In [23]:
# Filter individual data files
movie_akas_clean = movie_akas_2[movie_akas_2['tconst'].isin(filter_list)]
movie_basics_clean = movie_basics[movie_basics['tconst'].isin(filter_list)]
movie_ratings_clean = movie_ratings[movie_ratings['tconst'].isin(filter_list)]
movie_crew_clean = movie_crew[movie_crew['tconst'].isin(filter_list)]

In [24]:
# Drop unneeded columns from individual data files
movie_akas_clean = movie_akas_clean.drop(columns= 'ordering')
movie_basics_clean = movie_basics_clean.drop(columns= ['isAdult', "endYear"])

In [25]:
movie_akas_clean.count()

tconst             73068
title              73068
region             73068
language           73068
types              73068
attributes         73068
isOriginalTitle    73068
dtype: int64

In [26]:
movie_akas_clean.head()

,tconst,title,region,language,types,attributes,isOriginalTitle
142314,tt0031603,Made in Germany - Die dramatische Geschichte d...,US,\N,\N,\N,0
168399,tt0035423,Kate and Leopold,US,\N,\N,alternative spelling,0
171766,tt0035933,Elephant Fury,US,\N,\N,\N,0
175525,tt0036493,Black Devils of Kali,US,\N,\N,second part title,0
176331,tt0036606,"Another Time, Another Place",US,\N,imdbDisplay,\N,0

In [27]:
movie_basics_clean.count()

tconst            73068
titleType         73068
primaryTitle      73068
originalTitle     73068
startYear         73068
runtimeMinutes    73068
genres            73068
dtype: int64

In [28]:
movie_basics_clean.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
31054,tt0031603,movie,Made in Germany - Die dramatische Geschichte d...,Made in Germany,1957,101,"Biography,Drama"
34811,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance"
35312,tt0035933,movie,Elephant Fury,Gesprengte Gitter,1953,100,"Drama,War"
35864,tt0036493,movie,Mystery of the Black Jungle,I misteri della giungla nera,1954,80,"Action,Adventure,Mystery"
35975,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",1983,118,"Drama,War"

In [29]:
movie_ratings_clean.count()

tconst           73068
averageRating    73068
numVotes         73068
dtype: int64

In [30]:
movie_crew_clean.count()

tconst       73068
directors    73068
writers      73068
dtype: int64

#### The cleaned dataframes will be loaded into the DB and merged. The single merged DB Table will be  connected to for all furture steps

# 2. Load Data Into Database (Postgres)

In [34]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2

from config import db_password

In [35]:
# "postgres://[user]:[password]@[location]:[port]/[database]"
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_analysis_db"

In [36]:
# Create engine
engine = create_engine(db_string)

In [ ]:
# Write movie_akas_clean to movie_akas_us table in SQL
movie_akas_clean.to_sql(name='movie_akas_us', con=engine)

In [ ]:
# Write movie_basics_clean to movie_basics table in SQL
movie_basics_clean.to_sql(name='movie_basics', con=engine)

In [38]:
# Write movie_ratings to movie_ratings table in SQL
movie_ratings_clean.to_sql(name='movie_ratings', con=engine)

In [39]:
# Write movie_crew to movie_crew table in SQL
movie_crew_clean.to_sql(name='movie_crew', con=engine)

In [ ]:
# join the tables in pgAdmin

# SELECT
#     ma.tconst,
#     ma.title,
#     ma.region,
#     ma.language,
#     ma.types,
#     ma.attributes,
#     mb."movieTitleOriginal",
#     mb."movieTitleType",
#     mb."primaryMovieTitle",
#     mb."startYear",
#     mb."runtimeMinutes",
#     mb."genres",
#     mc."directors",
#     mr."averageRating",
#     mr."numVotes"
# into movie_data_sql
# FROM
#     movie_akas_us as ma
# 	LEFT JOIN movie_basics as mb
# 		ON mb.tconst = ma.tconst
#     LEFT JOIN movie_crew as mc
# 		ON mc.tconst = mb.tconst
#     LEFT JOIN movie_ratings as mr
# 		ON mr.tconst = mc.tconst
# ORDER BY
#     tconst;

In [38]:
movie_data_2 = pd.read_sql_query('select * from "movie_data_sql"',con=engine)
movie_data_2.head(5)

,tconst,title,region,language,types,attributes,movieTitleOriginal,movieTitleType,primaryMovieTitle,startYear,runtimeMinutes,genres,directors,averageRating,numVotes
0,tt0031603,Made in Germany - Die dramatische Geschichte d...,US,\N,\N,\N,Made in Germany,movie,Made in Germany - Die dramatische Geschichte d...,1957,101,"Biography,Drama",nm0772191,6.5,12
1,tt0035423,Kate and Leopold,US,\N,\N,alternative spelling,Kate & Leopold,movie,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",nm0003506,6.4,78045
2,tt0035933,Elephant Fury,US,\N,\N,\N,Gesprengte Gitter,movie,Elephant Fury,1953,100,"Drama,War",nm0682176,4.2,6
3,tt0036493,Black Devils of Kali,US,\N,\N,second part title,I misteri della giungla nera,movie,Mystery of the Black Jungle,1954,80,"Action,Adventure,Mystery","nm0614634,nm0130397",5.4,34
4,tt0036606,"Another Time, Another Place",US,\N,imdbDisplay,\N,"Another Time, Another Place",movie,"Another Time, Another Place",1983,118,"Drama,War",nm0705535,6.5,256

# Rest of the project continued in ML portion